.distill-site-nav {
    color: rgba(255,255,255,1);
    background-color: rgba(0,57,166,0.95);
    font-size: 15px;
    font-weight: 300;
  }

h1{
    color: rgba(0,57,166,0.9);
}

h2{
    color: rgba(0,57,166,0.9);
}

h2{
    color: rgba(0,57,166,0.9);
}

#pregunta {
      margin-top: 10px;
    margin-bottom: 10px;
   background-color: rgba(112,115,114,0.2);
   /*color: rgba(255,255,255,0.9);
   background-color: #5c7884;*/
   padding: 10px 10px 10px 10px;
   text-align: justify;
}

#inciso {
   margin-top: 10px;
  background-color: #f1f3f4;
   /*color: rgba(255,255,255,0.9);
   background-color: #87a0ab;*/
   padding: 10px 10px 10px 10px;
   text-align: justify;
   margin-bottom: 10px;
}

#justificar{
   margin-top: 10px;
    margin-bottom: 10px;
   text-align: justify;
}

#colpre {
  color: #5c7884;
}

#colin {
  color: #87a0ab;
}

#guinda{
   color: rgba(0,57,166,0.9);
}

.guinda{
   color: rgba(0,57,166,0.9);
}

tbody tr:nth-child(odd) {
  background-color: rgba(0,57,166,0.2);
}

tbody tr:nth-child(even) {
  background-color: rgb(255,255,255);
}



d-article a:link {
 color: rgba(0,74,151,0.5) !important;
}

d-article  li a:link {
 color: rgba(0,74,151,0.5);
}

d-article.d-article-with-toc a:link {
 color: rgba(0,74,151,0.5) !important;
}

d-article  li p a:link {
 color: rgba(0,74,151,0.5);
}

d-article   p a:link {
 color: rgba(0,74,151,0.5);
}

d-article p a:link {
 color: rgba(0,74,151,0.5);
}

 p  a {
 color: rgba(0,74,151,0.5);
}

 td  a {
 color: rgba(0,74,151,0.5);
}

td {
  color: rgba(125,127,129,1);
}

thead {
  color: rgba(125,127,129,1);
}

p {
  
  color: rgba(125,127,129,1);
}

li {
  
  color: rgba(125,127,129,1);
}


.def {	
    border-style:solid;
    border-width:4px;
    /*-webkit-border-radius:15px;*/
    border-radius: 1em;
    border-color:rgba(102,194,163,0.9);/**  #366272;#CD853F;/**rgba(112, 156, 169, 0.66);*/
    /*background: #366272;rgba(54, 98, 114, 0.9);/*#366272;*/
	/*border-top-left-radius:10%;*/
	color:black;
	font-size: 1em;
	/*box-shadow: 10px 10px 10px #2178a3;*/
	/*overflow:scroll;*/
	padding: 2% 4% 2% 4%;
	box-sizing: border-box;
	width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2%;
    margin-top:2%; 
    font-size: 1.0em;
	line-height: 1.6;
	font-weight: 300;
    background:rgba(102,194,163,0.2);/*1(0.40000000596046448, 0.7607843279838562, 0.64705884456634521)*/
}


.teo {	
    border-style:solid;
    border-width:4px;
    /*-webkit-border-radius:15px;*/
	border-radius: 1em;
    border-color:rgb(250, 187, 81,0.9);/**  #366272;#CD853F;/**rgba(112, 156, 169, 0.66);*/
    /*background: #366272;rgba(54, 98, 114, 0.9);/*#366272;*/
	/*border-top-left-radius:10%;*/
	color:black;
	font-size: 1em;
	/*box-shadow: 10px 10px 10px #2178a3;*/
	/*overflow:scroll;*/
	padding: 2% 4% 2% 4%;
	box-sizing: border-box;
	width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2%;
    margin-top:2%; 
    font-size: 1.0em;
	line-height: 1.6;
	font-weight: 300;
    background:rgba(250, 187, 81,0.2);/*1(0.40000000596046448, 0.7607843279838562, 0.64705884456634521)*/
}

code.sourceCode.r{
  overflow: scroll;
}

code.sourceCode{
  overflow: scroll;
}

d-article pre{
  overflow: scroll;
}

div.sourceCodecode{
  overflow: scroll;
}